* {
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(171, 174, 165);
    margin: 20px;
    padding: 0;
}

h1 {
    margin-top: 0;
    font-size: 22px;
}

h2 {
    margin-top: 0;
    font-size: 20px;
}

h3 {
    margin-top: 0;
    font-size: 18px;
}

h4 {
    margin-top: 0;
    font-size: 16px;
}

h5 {
    margin-top: 0;
    font-size: 14px;
}

h6 {
    margin-top: 0;
    font-size: 12px;
}

code {
    font-size: 1.2em;
}

ul {
    padding-inline-start: 20px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 20px;
    padding: 0;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    height: 175px;
    width: 175px;
    border: solid;
    background-color: #d5d7ff;
    cursor: pointer;
}

.board-row:after {
    clear: both;
    content: '';
    display: table;
}

.status {
    margin-bottom: 10px;
    font-size: 25px;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}

.statusBtn {
    appearance: none;
    border: 2;
    outline: 0;
    font: inherit;
    width: 250px;
    padding: 1rem 4rem 1rem 1rem;
    background: rgb(90, 92, 84);
    color: white;
    border-radius: 0.25em;
    box-shadow: 0 0 1em 0 rgba(196, 170, 170, 0.574);
}

.container {
    text-align: end;
    margin-top: 50px;
}

.calculator {
    background: linear-gradient(90deg, rgb(126, 228, 228) 0%, lightblue 60%, rgb(215, 240, 249) 85%);
    border: 5px solid;
    border-radius: 15px;
    box-shadow: 5px 7px 10px black;
    position: absolute;
    padding: 10px;
    grid-template-columns: 100px 50px 100px;
    grid-template-rows: 80px auto 80px;

    width: 430px;
}

.display {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 24px;
    background-color: white;
    height: 50px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #f0f0f0;
}